<?xml version="1.0" encoding="utf-8"?>
<!-- Reverse-->
<StrymonMachine Name="Spring" Value="10">
  <Pots>
    <Pot Id="1">
      <RangeOverride>
        <Range MinValue="800" MaxValue="10000"/>
        <IncrementMap>
          <Increment Value="3(8),7" End="824" />
          <Increment Value="7(8),7" End="894"  />
          <Increment Value="11" End="905"  />
          <Increment Value="15,3(16)" End="968"  />
          <Increment Value="15,16" End="999"  />
          <Increment Value="21" End="1020"  />
          <Increment Value="10,20" End="1110"  />
          <Increment Value="30,20" End="1210"  />
          <Increment Value="20,30" End="1260"  />
          <Increment Value="2(20),30" End="1400"  />
          <Increment Value="5(30),40" End="1780"  />
          <Increment Value="6(30),40" End="2220"  />
          <Increment Value="3(50),40" End="2410"  />
          <Increment Value="2(50),40" End="2550"  />
          <Increment Value="3(50),40" End="2740"  />
          <Increment Value="50" End="2790"  />
          <Increment Value="70,6(80)" End="3340"  />
          <Increment Value="70,5(80)" End="3810"  />
          <Increment Value="90" End="3900"  />
          <Increment Value="100,90" End="4660"  />
          <Increment Value="90,100" End="4850"  />
          <Increment Value="90" End="4940"  />
          <Increment Value="120" End="5060"  />
          <Increment Value="3(160),150" End="6950"  />
          <Increment Value="220" End="7170"  />
          <Increment Value="230" End="7400"  />
          <Increment Value="240" End="7640"  />
          <Increment Value="230" End="7870"  />
          <Increment Value="240" End="8350"  />
          <Increment Value="230" End="8580"  />
          <Increment Value="240" End="9060"  />
          <Increment Value="230" End="9290"  />
          <Increment Value="240"/>
        </IncrementMap>
      </RangeOverride>
    </Pot>
  </Pots>
    <MachineParameters>
    <ParameterDef Name="Lo End" ControlChangeNo="64">
      <Range MinValue="0" MaxValue="20"/>
    </ParameterDef>
    <ParameterDef Name="Dwell" ControlChangeNo="63">
      <OptionList>
        <Option Name="Clean" Value="0" />
        <Option Name="Combo" Value="1" />
        <Option Name="Tube" Value="2" />
        <Option Name="Overdrive" Value="3" />
      </OptionList>
    </ParameterDef>
    <ParameterDef Name="No Springs" ControlChangeNo="62">
      <OptionList>
        <Option Name="1" Value="0" />
        <Option Name="2" Value="1" />
        <Option Name="3" Value="2" />
      </OptionList>
    </ParameterDef>
  </MachineParameters>

</StrymonMachine>
